:root {
  --white: #fff;
  --gray: #999999;
}

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: Roboto, sans-serif;
}
html,
body {
  height: 100%;
  background-color: white;
}
h1 {
  margin: 0px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 100%;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}
.section {
  padding: 100px 0;
  overflow: hidden;
}
