.main {
  min-height: 2045px;
  flex-grow: 1;
  width: 100%;
  background-color: var(--white);
}
/* _______________________ */
.section_head {
  min-height: 666px;
  background: url(../../img/back.png);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  color: var(--white);
}
.container_head {
  max-width: 1169px;
  padding-top: 107px;
}
.header_text {
  max-width: 549px;
  min-height: 304px;
}
.text__title {
  font-size: 53.2px;
  font-weight: 500;
  line-height: 62.34px;
  text-align: left;
  padding-bottom: 11px;
}
.text__desc {
  font-size: 18.2px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  padding-bottom: 42px;
}
.text_button {
  display: inline-block;
  padding: 18px 34px 18px 54px;
  min-height: 54px;
  border-radius: 3px;
  text-decoration: none;
  color: var(--white);
  background-color: #f44336;
  box-shadow: 0px 2px 2px 0px #f4433624;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
}
.text_button::before {
  display: inline-block;
  position: absolute;
  content: url(../../img/ICONPLAY.svg);
  width: 15px;
  height: 18px;
  top: 16px;
  left: 36px;
}
/* ______________________ */

.container_desc {
  max-width: 795px;
  width: 100%;
}
.desc__main {
  font-size: 36.4px;
  font-weight: 400;
  line-height: 42.66px;
  text-align: center;
  color: #3c4858;
}
.desc__big {
  padding-top: 38px;
  font-size: 17.5px;
  font-weight: 300;
  line-height: 20.51px;
  text-align: center;
  color: var(--gray);
}

/* _______________________ */
.container_feature {
  max-width: 1196px;
  min-height: 201px;
  display: flex;
  column-gap: 65px;
  align-items: flex-start;
}
.container_feature__first,
.container_feature__second,
.container_feature__third {
  max-width: 342.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature_img {
  width: 73px;
  height: 70px;
}
.feature_head {
  padding-top: 31px;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.44px;
  color: #3c4858;
}
.feature_desc {
  padding-top: 18px;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.41px;
  color: var(--gray);
  text-align: center;
}
/* _______________________ */
.container_team {
  max-width: 1223px;
  min-height: 541px;
}
.team_head {
  font-size: 36.4px;
  font-weight: 400;
  line-height: 42.66px;
  text-align: center;
  color: #3c4858;
  padding-bottom: 86px;
}

/* first example */
/* .test {
  margin-top: 111px;
  text-align: center;
  text-transform: uppercase;
  font-size: 36.4px;
  font-weight: 400;
  line-height: 42.66px;
  color: #0400ffbd;
} */

.team_team {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 39px;
  width: 100%;
}
.team_team__first,
.team_team__second,
.team_team__third {
  /* max-width: 367.3px;  */
  min-height: 412px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* second example */
.team_team_2 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 39px;
}
.team_team_2 .team_team__item {
  /* max-width: 367.3px; */
  min-height: 412px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc((100% - 2 * 39px) / 3);
}
/* third example */
.team_team_3 {
  display: flex;
  /* width: 100%; */
  margin-right: -39px;
}
.team_team__item_w {
  width: calc(100% / 3);
  padding-right: 39px;
}
.team_team_3 .team_team__item {
  /* max-width: 367.3px; */
  min-height: 412px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ___ */

.team_img {
  width: 177.39px;
  height: 170px;
}
.team_name {
  font-size: 18.2px;
  font-weight: 500;
  line-height: 21.33px;
  color: #3c4858;
  text-align: center;
}
.team_prof {
  font-size: 13.65px;
  font-weight: 500;
  line-height: 16px;
  color: #777777;
}
.team_desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 16.41px;
  text-align: center;
  color: var(--gray);
}
.wft {
  color: #9c27b0;
  text-decoration: none;
}
.team_prof {
  padding-top: 7px;
}
.team_desc {
  padding-top: 35px;
}
.team_links {
  padding-top: 35px;
  display: inline-flex;
  column-gap: 30px;
}
.prof_tweet__img {
  width: 18px;
  height: 18px;
}
/* _______________________ */
.container_contact {
  max-width: 825.74px;
  min-height: 423px;
}
.contact_head {
  color: #3c4858;
  font-size: 36.4px;
  font-weight: 400;
  line-height: 42.66px;
  margin-bottom: 38px;
  text-align: center;
}
.contact_desc {
  padding-top: 38px;
  font-size: 18.2px;
  font-weight: 300;
  line-height: 21.33px;
  text-align: center;
  color: var(--gray);
  margin-bottom: 48px;
}
.contact_form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}
.input_name,
.input_email {
  width: calc((100% - 30px) / 2);
  height: 25px;
  border: none;
  border-bottom: 1px solid #d2d2d2;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: var(--gray);
  margin-bottom: 50px;
}
.input_message {
  max-width: 783.65px;
  width: 100%;
  height: 80px;
  border: none;
  border-bottom: 1px solid #d2d2d2;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: var(--gray);
  margin-bottom: 25px;
}
.input_message::placeholder,
.input_name::placeholder,
.input_email::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: var(--gray);
}
.input_message:focus-visible,
.input_name:focus-visible,
.input_email:focus-visible {
  outline: none;
}

.contact_button {
  display: block;
  margin: 0 auto;
  width: 154.43px;
  height: 41px;
  border: none;
  background-color: #9c27b0;
  box-shadow: 0px 2px 2px 0px #9c27b033;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  color: var(--white);
  transition: box-shadow ease 0.5s;
}
.contact_button:hover {
  box-shadow: 0px 5px 14px 0px #9c27b06b;
  cursor: pointer;
}
/* _______________________ */
